# Tenderly Virtual TestNets (forks)
TENDERLY_ETHEREUM_FORK_VNET_ID=<your-api-key>
TENDERLY_BASE_FORK_VNET_ID=<your-api-key>
TENDERLY_ARBITRUM_FORK_VNET_ID=<your-api-key>
STAGE_TENDERLY_VIRTUAL_TESTNET_API_KEY=<your-api-key>